* {
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
}

.container {
    padding: 250px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    border: 2px solid purple;
    padding: 35px;
    height: 500px;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 5%;
}

.lcd-screen {
    border: 2px solid blue;
    height: 20%;
}

.buttons {
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:  5%;
}

.row {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    height: 100%;
}

button {
    
}

.number, .operator, .dot {
    width: 20%;
}

.display-controller {
    width: 35%;
}

.equal {
    width: 50%;
}