* {
    box-sizing: border-box;
}

body {
    background-color: #f99e71;
    font-family: "Kode Mono", monospace;
}

.container {
    padding: 250px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.title {
    color: rgb(255, 255, 255);
    font-size: 50px;
}

.calculator {
    background-color: #ffdac7;
    box-shadow: hsl(20, 100%, 84%) 0 7px 0 7px;
    border-radius: 20px;
    padding: 35px;
    height: 500px;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 5%;
}

.lcd-screen {
    margin: 0;
    padding: 0 10px;
    min-height: 90px;
    background-color: #b3c292;
    box-shadow: #6c725f 0 -2px 0 3px;
    border-radius: 5px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.operation {
    margin: 0;
    height: 35%;
    font-size: 30px;
    display: flex;
    justify-content: end;
    color: #434a36;
}

.value {
    margin: 0;
    height:65%;
    display: flex;
    font-size: 40px;
    justify-content: end;
    color: #434a36;
}

.buttons {
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:  5%;
}

.row {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    height: 100%;
}

.number, .operator, .dot {
    width: 20%;
}

.display-controller {
    width: 35%;
}

.equal {
    width: 48%;
}

/* button styling */
button {
    background-color: #ffcb9a;
    border: none;
    border-radius: 6px;
    box-shadow: #ffaf87 0 3px 0 4px;
    color: #422800;
    cursor: pointer;
    font-weight: 600;
    font-size: 22px;
    user-select: none;
    -webkit-user-select: none;
}

button:active {
    background-color: #ffc289;
    box-shadow: #ffaf87 0 -1px 0 3px;
    transform: translate(0px, 4px);
}

.number {
    background-color: #f9d19a;
    box-shadow: #ffbe73 0 3px 0 4px;
}

.number:active {
    background-color: #ffcc85;
    box-shadow: #ffbe73 0 -1px 0 3px;
    transform: translate(0px, 4px);
}

.dot {
    background-color: #ffcb9a;
    box-shadow: #ffaf87 0 3px 0 4px;
}

.dot:active {
    background-color: #ffc289;
    box-shadow: #ffaf87 0 -1px 0 3px;
    transform: translate(0px, 4px);
}